APP_NAME=HRIS v1
APP_ENV=development
APP_DEBUG=true
APP_URL=http://hris.test
APP_TIMEZONE=Asia/Manila

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hris_db
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=hris_session
SESSION_LIFETIME=120
SESSION_SECURE=false
SESSION_SAMESITE=Strict

AUTH_MAX_ATTEMPTS=5
AUTH_LOCK_MINUTES=15
